<!-- views/partials/footer.handlebars -->
<footer>
     <nav>
        <ul>
      <li><a href="/contacto">Contacto</a></li>
        </ul>
     </nav>
 <p>&copy; 2024 Make Up 7x8 - Todos los derechos reservados.</p>
</footer>


   