<footer>
    <nav>
        <a href="/">Inicio</a>
    </nav>
    <div>
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <a href="https://www.twitter.com" target="_blank">Twitter</a>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
    </div>
        <p>&copy; 2024 - Todos los derechos reservados</p>
</footer>
</body>
</html>

