<header class="productos">
  <nav>
    <img src="/img/hocico2,0.png" width="100%">
    <ul>
      <li><a href="/inicio">Inicio</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/sobre">Sobre Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>