<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<header>
  <h1>{{titulo}}</h1>

  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/sobre">Sobre Nosotros</a></li>
    </ul>
    <img src="/img/hocico.jpg" style="max-width: 100%; height: auto;" alt="Descripción de la imagen">

    <div class="cart-icon">
      <a href="/carrito" aria-label="Ver carrito">
        <i class="fas fa-shopping-cart"></i>
      </a>
    </div>

    <div class="luna" id="nightIcon">
      <img src="/img/luna.png" alt="Cambiar a modo noche">
    </div>
  </nav>

  <div class="lupa-container">
    <input type="text" placeholder="Buscar Producto..." aria-label="Buscar Producto">
    <span class="icon-search" role="button" aria-label="Buscar">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10.5 2a8.5 8.5 0 1 0 6.353 14.15l5.648 5.648a1 1 0 0 0 1.415-1.415l-5.648-5.648A8.5 8.5 0 0 0 10.5 2zm0 15a6.5 6.5 0 1 1 0-13 6.5 6.5 0 0 1 0 13z" />
      </svg>
    </span>
  </div>

  <img src="/img/calabaza.png" class="icon" style="left: 10%; animation-duration: 3s; animation-delay: 0s;">
  <img src="/img/murcielagos.png" class="icon" style="left: 30%; animation-duration: 4s; animation-delay: 1s;">
  <img src="/img/fantasma.png" class="icon" style="left: 50%; animation-duration: 5s; animation-delay: 2s;">
  <img src="/img/globo-ocular.png" class="icon" style="left: 70%; animation-duration: 6s; animation-delay: 3s;">
  <img src="/img/sombrero-de-bruja.png" class="icon" style="left: 90%; animation-duration: 7s; animation-delay: 4s;">
</header>
