<!-- views/home.handlebars -->
<div class="search-container">
      <input type="text" placeholder="Buscar Producto...">
      <span class="icon-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10.5 2a8.5 8.5 0 1 0 6.353 14.15l5.648 5.648a1 1 0 0 0 1.415-1.415l-5.648-5.648A8.5 8.5 0 0 0 10.5 2zm0 15a6.5 6.5 0 1 1 0-13 6.5 6.5 0 0 1 0 13z"/>
        </svg>
      </span>
    </div>
  
<h3>{{mensaje}}</h3>
<main>
    <div class="card" style="width: 18rem;">
        <img src="/img/vynil.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">SUPERSTAY VINYL INK Labial Líquido Brillante</h5>
            <a href="#" class="btn btn-primary">Comprar Ahora</a>
        </div>
    </div>
    
    <!-- Repite para otras tarjetas -->

<div class="card" style="width: 18rem;">
  <img src="/img/baby.jpg" width="100%" height="auto">
  <div class="card-body">
    <h5 class="card-title">Baby Lips Bálsamo labial hidratante</h5>
    <a href="#" class="btn btn-primary">Comprar Ahora</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/img/matte.jpg" width="100%" height="auto">
  <div class="card-body">
    <h5 class="card-title">SUPER STAY MATTE INK Labial líquido</h5>
    <a href="#" class="btn btn-primary">Comprar Ahora</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/img/delineadorL.jpg" width="100%" height="auto">
  <div class="card-body">
    <h5 class="card-title">LIFTER LINER DELINEADOR DE LABIOS</h5>
    <a href="#" class="btn btn-primary">Comprar Ahora</a>
  </div>
</div>
</main>
<main>
<div class="card" style="width: 18rem;">
        <img src="/img/tatto.webp" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">TattooStudio™ Delineador de ojos de tinta líquido</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/ejas.webp" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">SUPER LOCK BROW GLUE Fijador de cejas</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/matte.webp" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">FIT ME MATTE BASE LÍQUIDA MATTE + PORELESS</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/delineadorL.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">LIFTER LINER DELINEADOR DE LABIOS</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
</main>
 <video muted loop autoplay height="725">
        <source src="/videos/primero.mp4" type="video/mp4">
    </video>