<!-- views/home.handlebars -->
<h1 class="pod">TODOS LOS PRODUCTOS
</h1>
<main>
  

  <div class="card" style="width: 18rem;">
    <img src="/img/vynil.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">SUPERSTAY VINYL INK Labial Líquido Brillante</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>


  <!-- Repite para otras tarjetas -->

  <div class="card" style="width: 18rem;">
    <img src="/img/baby.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">Baby Lips Bálsamo labial hidratante</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/img/matte.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">SUPER STAY MATTE INK Labial líquido</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/img/rimel.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">The Falsies Surreal Extensions Máscara de pestañas</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/img/delineadorL.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">LIFTER LINER DELINEADOR DE LABIOS</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/img/shot.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">THE COLOSSAL BIG SHOT™ MÁSCARA DE PESTAÑAS</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="/img/polvo.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">POLVOS MATIFICANTES + ALISADORES DE POROS</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/img/brillo.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">LIFTER PLUMP BRILLO LABIAL</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/img/color.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">COLOR SENSATIONAL® Una creación para todos los colores de labiosL</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/img/corrector.jpg" width="100%" height="auto">
    <div class="card-body">
      <h5 class="card-title">Corrector de tratamiento antiojeras</h5>
      <a href="#" class="btn btn-primary">Comprar Ahora</a>
    </div>
  </div>

</main>
<video muted loop autoplay height="725">
  <source src="/videos/primero.mp4" type="video/mp4">
</video>