<link rel="stylesheet" href="/css/style.css">
<h2>{{mensaje}}</h2>
<h1 class="pod">NUEVOS PRODUCTOS</h1>
<a href="/productos" class="aaa">Todos los productos</a>
<main>
<div class="card" style="width: 18rem;">
        <img src="/img/tatto.webp" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">TattooStudio™ Delineador de ojos de tinta líquido</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/ejas.webp" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">SUPER LOCK BROW GLUE Fijador de cejas</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/matte.webp" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">FIT ME MATTE BASE LÍQUIDA MATTE + PORELESS</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/delineadorL.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">LIFTER LINER DELINEADOR DE LABIOS</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
</main>
<h1 class="pod">EN TENDENCIA HOY</h1>
<main>
    <div class="card" style="width: 18rem;">
        <img src="/img/matte.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">SUPER STAY MATTE INK Labial líquido</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/baby.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">Baby Lips Bálsamo labial hidratante</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/delineadorL.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">LIFTER LINER DELINEADOR DE LABIOS</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img src="/img/vynil.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">SUPERSTAY VINYL INK Labial Líquido Brillante</h5>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
        </div>
    </div>
</main>