<main>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
            <img src="/img/antito.jpg" alt="Antonella Jarpa">
            <div class="card-body">
                <h3 class="card-title">Antonella Jarpa</h3>
                <a href="#" class="btn">EXCLUSIVA</a>
            </div>
        </div>
    </section>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
            <img src="/img/rayen.jpg" alt="Rayen Aravena">
            <div class="card-body">
                <h3 class="card-title">Rayen Aravena</h3>
                <a href="#" class="btn">EXCLUSIVA</a>
            </div>
        </div>
    </section>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
            <img src="/img/benja.jpg" alt="Benjamin Troncoso">
            <div class="card-body">
                <h3 class="card-title">Benjamin Troncoso</h3>
                <a href="#" class="btn">EXCLUSIVO</a>
            </div>
        </div>
    </section>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
            <img src="/img/giovani.jpg" alt="Giovanni Hernandez">
            <div class="card-body">
                <h3 class="card-title">Giovanni Hernandez</h3>
                <a href="#" class="btn">COLADO</a>
            </div>
        </div>
    </section>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
            <img src="/img/alvaro.jpg" alt="Alvaro Vigueras">
            <div class="card-body">
                <h3 class="card-title">Alvaro Vigueras</h3>
                <a href="#" class="btn">SOLO</a>
            </div>
        </div>
    </section>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
            <img src="/img/nacha.jpg" alt="Ignacia Carrera">
            <div class="card-body">
                <h3 class="card-title">Ignacia Carrera</h3>
                <a href="#" class="btn">SOLA</a>
            </div>
        </div>
    </section>

</main>
