<main>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
        <img src="/img/antito.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">Antonella Jarpa</h5>
            <a href="#" class="btn btn-primary">EXCLUSIVA</a>
        </div>
    </div>
        <!-- Más tarjetas de sobre nosotros -->
    </section>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
        <img src="/img/rayen.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">Rayen Aravena</h5>
            <a href="#" class="btn btn-primary">EXCLUSIVA</a>
        </div>
    </div>
        <!-- Más tarjetas de sobre nosotros -->
    </section>


       <section class="sobre">
        <div class="card" style="width: 18rem;">
        <img src="/img/benja.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">Benjamin Troncoso</h5>
            <a href="#" class="btn btn-primary">EXCLUSIVO</a>
        </div>
    </div>
        <!-- Más tarjetas de sobre nosotros -->
    </section>

       <section class="sobre">
        <div class="card" style="width: 18rem;">
        <img src="/img/giovani.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">Giovanni Hernandez</h5>
            <a href="#" class="btn btn-primary">COLADO</a>
        </div>
    </div>
        <!-- Más tarjetas de sobre nosotros -->
    </section>

    <section class="sobre">
        <div class="card" style="width: 18rem;">
        <img src="/img/alvaro.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">Alvaro Vigueras</h5>
            <a href="#" class="btn btn-primary">SOLO</a>
        </div>
    </div>
        <!-- Más tarjetas de sobre nosotros -->
    </section>

        <section class="sobre">
        <div class="card" style="width: 18rem;">
        <img src="/img/nacha.jpg" width="100%" height="auto">
        <div class="card-body">
            <h5 class="card-title">Ignacia Carrera</h5>
            <a href="#" class="btn btn-primary">SOLA</a>
        </div>
    </div>
        <!-- Más tarjetas de sobre nosotros -->
    </section>


</main>