/* styles.css */

/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.5s; /* Transición suave */
}

/* Estilos para el encabezado */
header {
    color: white;
    text-align: center;
    background-color: #ff4081;
    padding: 20px;

}

/* Estilo para el título del encabezado */
header h1 {
    margin: 0;
    color: black;
    font-size: 48px;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo para la imagen dentro del nav */
nav img {
    width: 100%;
    height: auto;
    max-width: none;
    margin: 0 auto;
    display: block;
}
/* Estilos para la lista de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los elementos de la lista en la navegación */
nav ul li {
    display: inline;
    margin: 0 15px;
}

/* Estilos para los enlaces de la navegación */
nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

/* Efecto hover en los enlaces de navegación */
nav ul li a:hover {
    color: #4d2431;
}

/* Estilo para los encabezados h1, h2, h3, h4 */
h1,
h2,
h3,
h4 {
    text-align: center;
}

/* Sección principal de la página */
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: space-around; /* Espaciado entre las tarjetas */
    align-items: stretch; /* Alinea las tarjetas a la misma altura */
}

/* Estilo para las tarjetas */
.card {
    margin: 20px;
    text-align: center;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px; /* Permite que las tarjetas se ajusten y tengan un tamaño mínimo */
    max-width: 350px; /* Tamaño máximo de las tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ajuste para alinear el contenido */
    height: 450px; /* Aumenta la altura de las tarjetas */
}

/* Estilo para la imagen dentro de la tarjeta */
.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 250px; /* Aumenta la altura de las imágenes */
    object-fit: contain; /* Ajusta la imagen sin recortar */
}

.card-body {
    padding: 20px;
    flex-grow: 1; /* Permite que el cuerpo de la tarjeta ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Añade espacio entre el título y el botón */
}

.card .btn {
    background-color: #ff4081; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 10px 20px; /* Ajusta el padding */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: auto; /* Empuja el botón hacia el fondo de la tarjeta */
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
}

/* Efecto hover para el botón en modo día */
.card .btn:hover {
    background-color: #e91e63; /* Color de fondo al hacer hover en modo día */
    transform: scale(1.05); /* Efecto de escala al hacer hover */
}

.card .btn.night {
    background-color: #d68a0d;
}

.card .btn.night:hover {
    background-color: #FFC107; /* Color de fondo al hacer hover en modo noche */
    transform: scale(1.05); /* Efecto de escala al hacer hover */
}

/* Efecto al hacer clic en el botón */
.card .btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #ff4081; /* Color de fondo del footer */
    color: black; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 20px; /* Espaciado interno */
    font-family: 'Cinzel', serif; /* Fuente */
    font-size: 18px; /* Tamaño del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}

footer nav a {
    color: white; /* Color de los enlaces */
    margin: 0 10px; /* Espaciado entre los enlaces */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición suave para el color */
}

footer nav a:hover,
footer div a:hover {
    color: #ff4081; /* Color al pasar el ratón */
}

footer div a {
    color: white; /* Color de los enlaces en el div */
    margin: 0 10px; /* Espaciado entre los enlaces */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición suave para el color */
}


/* Estilo para los encabezados y párrafos dentro de la tarjeta "Sobre" */
.sobre .card h3,
.card p {
    margin: 0;
    text-align: center;
}


.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; /* Aumentar el ancho del botón */
    height: 70px; /* Aumentar la altura del botón */
    border-radius: 10px;
    border: none;
    position: absolute; /* Posición absoluta para sacarlo del flujo normal */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la derecha */
}
  
  .btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: .2s linear;
  }
  
  .icon-cart path {
    fill: rgb(255, 255, 255);
    transition: .2s linear;
  }
  
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover > .icon-cart path {
    fill: rgb(255, 255, 255);
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
  
  .quantity {
position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255); /* Cambia el color según tu diseño */
    color: white; /* Color del texto */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;  }
  
/* Estilo para títulos grandes */
.pod {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

/* Estilo para subtítulos */
h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px;
    color: #000000;
}

/* Estilo para el botón "Mostrar" */
.mostrar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 40px;
}

/* Efecto hover para el botón "Mostrar" */
.mostrar:hover {
    background-color: #e91e63;
    transform: scale(1.05);
}

/* Contenedor para centrar el contenido */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; /* Espacio interno adicional */
}

.icon {
    position: absolute;
    top: -50px; /* Comienza fuera de la pantalla */
    width: 50px; /* Tamaño del ícono */
    animation: fall linear infinite;
    z-index: 10; /* Asegúrate de que este valor sea mayor que el de otros elementos */
}

@keyframes fall {
    0% {
      transform: translateY(-100px); /* Comienza un poco fuera de la pantalla */
    }
    100% {
      transform: translateY(calc(100vh + 100px)); /* Termina más allá de la pantalla */
    }
  }

/* Estilo para el contenedor del video */
.video-container {
    width: 100%; /* Ancho completo */
    max-width: 100%; /* Asegura que no exceda el ancho de la pantalla */
    margin: 0 auto; /* Centrar el contenedor */
    overflow: hidden; /* Ocultar el desbordamiento */
}

/* Estilo para el video */
.video-container video {
    width: 100%; /* Ancho completo del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}
.switch {
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    position: absolute; /* Posición absoluta para moverlo */
    top: 20px; /* Distancia desde la parte superior */
    left: 20px; /* Distancia desde la izquierda */
    display: inline-block;
    width: 4em; /* Aumentar el ancho del switch */
    height: 2.5em; /* Aumentar la altura del switch */
    cursor: pointer;
}

.switch input {
    opacity: 0; /* Ocultar el checkbox */
    width: 0;
    height: 0;
}

.slider {
    --background: #20262c;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: 0.5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.8em; /* Aumentar la altura del círculo */
    width: 1.8em; /* Aumentar el ancho del círculo */
    border-radius: 50%;
    left: 10%;
    bottom: 10%; /* Ajustar la posición vertical */
    box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
    background: var(--background);
    transition: 0.5s;
}

.decoration {
    position: absolute;
    content: "";
    height: 2px;
    width: 2px;
    border-radius: 50%;
    right: 20%;
    top: 15%;
    background: #e5f041e6;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    box-shadow: -7px 10px 0 #e5f041e6, 8px 15px 0 #e5f041e6, -17px 1px 0 #e5f041e6,
      -20px 10px 0 #e5f041e6, -7px 23px 0 #e5f041e6, -15px 25px 0 #e5f041e6;
}

input:checked ~ .decoration {
    transform: translateX(-20px);
    width: 10px;
    height: 10px;
    background: white;
    box-shadow: -12px 0 0 white, -6px 0 0 1.6px white, 5px 15px 0 1px white,
      1px 17px 0 white, 10px 17px 0 white;
}

input:checked + .slider {
    background-color: #5494de;
}

input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
}
  button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}

/* From Uiverse.io by LightAndy1 */ 
.group {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    position: relative;
    width: 100%; /* Asegúrate de que ocupe todo el ancho del contenedor padre */
    max-width: 300px; /* Ajusta este valor a lo que necesites */
    margin: 20px auto 0; /* Ajusta el margen superior según necesites */
  }
  
  .input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
  }
  
  .input::placeholder {
    color: #bdbecb;
  }
  
  .input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
  }
  