<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos Los Productos</title>
</head>

<body>

  <h3>{{mensaje}}</h3>

  <h1 class="pod">Todos Los Productos</h1>
  <section>

    <div class="card">
      <img src="/img/vynil.jpg" alt="SUPERSTAY VINYL INK Labial Líquido Brillante">
      <div class="card-body">
        <h3 class="card-title">SUPERSTAY VINYL INK Labial Líquido Brillante</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/baby.jpg" alt="Baby Lips Bálsamo labial hidratante">
      <div class="card-body">
        <h3 class="card-title">Baby Lips Bálsamo labial hidratante</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/matte.jpg" alt="SUPER STAY MATTE INK Labial líquido">
      <div class="card-body">
        <h3 class="card-title">SUPER STAY MATTE INK Labial líquido</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/rimel.jpg" alt="The Falsies Surreal Extensions Máscara de pestañas">
      <div class="card-body">
        <h3 class="card-title">The Falsies Surreal Extensions </h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/delineadorL.jpg" alt="LIFTER LINER DELINEADOR DE LABIOS">
      <div class="card-body">
        <h3 class="card-title">LIFTER LINER DELINEADOR DE LABIOS</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/shot.jpg" alt="THE COLOSSAL BIG SHOT™ MÁSCARA DE PESTAÑAS">
      <div class="card-body">
        <h3 class="card-title">THE COLOSSAL BIG SHOT™ MÁSCARA DE PESTAÑAS</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/polvo.jpg" alt="POLVOS MATIFICANTES + ALISADORES DE POROS">
      <div class="card-body">
        <h3 class="card-title">POLVOS MATIFICANTES + ALISADORES DE POROS</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/brillo.jpg" alt="LIFTER PLUMP BRILLO LABIAL">
      <div class="card-body">
        <h3 class="card-title">LIFTER PLUMP BRILLO LABIAL</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/color.jpg" alt="COLOR SENSATIONAL® Una creación para todos los colores de labios">
      <div class="card-body">
        <h3 class="card-title">COLOR SENSATIONAL The Creams</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/corrector.jpg" alt="Corrector de tratamiento antiojeras">
      <div class="card-body">
        <h3 class="card-title">Corrector de tratamiento antiojeras</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/desmaquillante.jpg" alt="Toallitas Desmaquillantes Hidrashock Aloe Vera">
      <div class="card-body">
        <h3 class="card-title">Toallitas Desmaquillantes Hidrashock Aloe Vera</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/setcremas.jpg" alt="Set de Cremas Glow Up Niacinamida al 8%">
      <div class="card-body">
        <h3 class="card-title">Set de Cremas Glow Up Niacinamida al 8%</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/micelar.jpg" alt="Agua Micelar AHA Glow Up 200 ml">
      <div class="card-body">
        <h3 class="card-title">Agua Micelar AHA Glow Up 200 ml</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/aloevera.jpg" alt="Agua Micelar Aloe Vera Naturactive 200 ml">
      <div class="card-body">
        <h3 class="card-title">Agua Micelar Aloe Vera Naturactive 200 ml</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/ejas.jpg" alt="SUPER LOCK BROW GLUE Fijador de cejas">
      <div class="card-body">
        <h3 class="card-title">SUPER LOCK BROW GLUE Fijador de cejas</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/tatto.jpg" alt="TattooStudio™ Delineador de ojos de tinta líquido">
      <div class="card-body">
        <h3 class="card-title">TattooStudio™ Delineador de ojos de tinta líquido</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/kitykit.jpg" alt="Kit de Maquillaje Make Up Book Hello Kitty">
      <div class="card-body">
        <h3 class="card-title">Kit de Maquillaje Make Up Book Hello Kitty</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/kitypink.jpg" alt="Lip Balm Hello Kitty Cute Pink">
      <div class="card-body">
        <h3 class="card-title">Lip Balm Hello Kitty Cute Pink</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/kityglow.jpg" alt="Liquid Glow Beauty Wand Outshine Hello Kitty">
      <div class="card-body">
        <h3 class="card-title">Liquid Glow Beauty Wand Outshine Hello Kitty</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="card">
      <img src="/img/kitymelody.jpg" alt="Set duo Lip Balm My Melody">
      <div class="card-body">
        <h3 class="card-title">Set duo Lip Balm My Melody</h3>
        <a href="#" class="btn">COMPRAR AHORA</a>
      </div>
      </div>

      <div class="card">
            <img src="/img/Esqueleton1.jpg" alt="Super Stay Matte Ink Liquid Lipstick">
            <div class="card-body">
                <h3 class="card-title">Super Stay Matte Ink Liquid Lipstick</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

         <div class="card">
            <img src="/img/Vblanco.jpg" alt="Sharpenable Gel Pencil White Version">
            <div class="card-body">
                <h3 class="card-title">Sharpenable Gel Pencil White Version</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>
        
         <div class="card">
            <img src="/img/Vrojo.jpg" alt="Sharpenable Gel Pencil Red Version">
            <div class="card-body">
                <h3 class="card-title">Sharpenable Gel Pencil Red Version</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

        
         <div class="card">
            <img src="/img/Vazul.jpg" alt="Sharpenable Gel Pencil Blue Version">
            <div class="card-body">
                <h3 class="card-title">Sharpenable Gel Pencil Blue Version</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

           <div class="card">
            <img src="/img/Vmorado.jpg" alt="Sharpenable Gel Pencil Purple Version">
            <div class="card-body">
                <h3 class="card-title">Sharpenable Gel Pencil Purple Version</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

        <div class="card">
            <img src="/img/eyestix.jpg" alt="Eye Stix Up to 24HR Wear Blue Version">
            <div class="card-body">
                <h3 class="card-title">Eye Stix Up to 24HR Wear Blue Version</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

        
        <div class="card">
            <img src="/img/eyestixred.jpg" alt="Eye Stix Up to 24HR Wear Red Version">
            <div class="card-body">
                <h3 class="card-title">Eye Stix Up to 24HR Wear Red Version</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>


        <div class="card">
            <img src="/img/eyeliner.jpg" alt="Master Precise All Day Liquid Eyeliner Makeup">
            <div class="card-body">
                <h3 class="card-title">Master Precise All Day Liquid Eyeliner Makeup</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

         <div class="card">
            <img src="/img/lash.jpg" alt="Lash Sensational Sky High Waterproof Mascara Makeup">
            <div class="card-body">
                <h3 class="card-title">Lash Sensational Sky HighWaterproof</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

        <div class="card">
            <img src="/img/shadowblock.jpg" alt="Shadow Blocks Eyeshadow Palette">
            <div class="card-body">
                <h3 class="card-title">Shadow Blocks Eyeshadow Palette</h3>
                <a href="#" class="btn">COMPRAR AHORA</a>
            </div>
        </div>

  </section>

  <div class="video-container">
    <video muted loop autoplay>
      <source src="/videos/primero.mp4" type="video/mp4">
    </video>
  </div>
</body>

</html>